.box {
    background-color: red;
    width: 100px;
    height: 100px;
    /*remember that these can be wrapped up in one rule - border-radius: 50%; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    animation-name: jump;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes jump {
    from {
        margin-top: 0px;
    }
    to {
        margin-top: 100px;
    }
}